* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", "Apple SD Gothic Neo", "Roboto", "NotoSans", "Malgun Gothic", "맑은 고딕", "돋움", dotum, sans-serif;
  font-size: 1em;
}