.header {
  width: 100vw;
  height: 120px;
  padding: 50px;
  background-color: #F27F2B;
  color: #FFFFFF;
  font-size:1.25em;
  font-weight: bold;
}
/* header 요소 수직 정렬 */
.header > * {
  float: left;
  width: 20%;
  z-index: 100;
}
.header__logo {
  margin-top: -0.25em;
}
.header__logo__small {
  position: absolute;
  margin-top: -1em;
  font-size: 0.7em;
  font-weight: 200;
}
.header__logo__big {
  font-size: 1.5em;
}
.header__nav {
  width: 60%;
  text-align: center;
}
.header__nav li {
  display: inline;
  list-style: none;
  margin: 0 1em;
}
.header__themetoggle {
  float: right;
  text-align: right;
}

/* header 요소 a, a:hover */
.header__logo a {
  text-decoration: none;
  color: rgb(255, 255, 255, 1);
  padding-bottom:0.4rem;
}
.header__nav li a, .header__themetoggle a {
  text-decoration: none;
  color: rgb(255, 255, 255, 0.5);
  padding-bottom:0.4rem;
}
.header a:hover {
  color: rgb(255, 255, 255, 1);
  border-bottom-color: #FFFFFF;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

/* header animation */
.header__animation {
  width: 100vw;
  height: 203px;
  overflow: hidden;
  position: absolute;
  top: 75px;
  left: 0;
  z-index: -1;
}
.header__animation__wave {
  background: url(./wave.svg) repeat-x;
  background-size: 500px;
  position: absolute;
  width: 4000px;
  height: 203px;
  animation: wave 30s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.header__animation__wave:nth-of-type(1) {
  z-index: 1;
}

.header__animation__wave:nth-of-type(2) {
  animation: wave 30s cubic-bezier(0.36, 0.45, 0.63, 0.53) -1s infinite, swell 5s ease -0.5s infinite;
  opacity: 0.5;
}

.header__animation__wave:nth-of-type(3) {
  background: url(./wave2.svg) repeat-x;
  background-size: 500px;
  animation: wave 30s cubic-bezier(0.36, 0.45, 0.63, 0.53) 1s infinite, swell 5s ease 0.5s infinite;
  opacity: 0.5;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -2000px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-5px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

/* main clear 속성 */
.main {
  clear: both;
}
