/* header animation */
.header__animation {
  width: 100vw;
  height: 203px;
  overflow: hidden;
  position: absolute;
  top: 75px;
  left: 0;
  z-index: -1;
}
.header__animation__wave {
  background: url(./wave.png) repeat-x;
  background-size: 500px;
  position: absolute;
  width: 4000px;
  height: 203px;
  animation: wave 30s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.header__animation__wave:nth-of-type(1) {
  z-index: 1;
}

.header__animation__wave:nth-of-type(2) {
  animation: wave 30s cubic-bezier(0.36, 0.45, 0.63, 0.53) -1s infinite, swell 5s ease -0.5s infinite;
  opacity: 0.5;
}

.header__animation__wave:nth-of-type(3) {
  background: url(./wave2.png) repeat-x;
  background-size: 500px;
  animation: wave 30s cubic-bezier(0.36, 0.45, 0.63, 0.53) 1s infinite, swell 5s ease 0.5s infinite;
  opacity: 0.5;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -2000px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-5px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

@media only screen and (max-width: 610px) {
  .header__animation {
    top: 55px;
  }
}

@media only screen and (max-width: 480px) {
  .header__animation {
    top: 90px;
  }
}