.article * {
  word-wrap: break-word;
  word-break: keep-all;
}

.article__title {
  font-size: 2.5em;
  font-weight: normal;
  margin-bottom: 20px;
}

.article__post {
  margin-top: 20px;
  line-height: 1.7em;
}

/* 포스트 디테일 스타일 */
pre, code, kbd, samp {
  font-family: monospace, monospace;
}
pre {
  background: rgba(0,0,0,0.1);
  padding: 10px 15px;
  margin-bottom: 1em;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}
blockquote {
  background: rgba(0,0,0,0.1);
  padding: 10px 15px;
  margin-bottom: 1em;
  font-style: italic;
}
hr {
  margin-bottom: 1em;
}
.article__post > p {
  margin-bottom: 1em;
}
.article__post h3 {
  margin: 0;
}
.article__post li {
  list-style-position: inside
}
.article__post li p {
  display: inline;
}
.article__post li ul {
  margin-left: 1em;
}


.buttons a {
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.08);
  text-decoration: none;
  color: rgba(0,0,0,1);
}
.buttons .list {
  padding: 1em 4em;
  
}