/* Topics */
.topics {
  margin-bottom: 50px;
  display: none
}
.topics__title {
  font-size: 1.25em;
  font-weight: bold;
  display: inline;
  margin-right: 20px;
}
.topics__list {
  display: inline-block;
}
.topics__list__item {
  display: inline-block;
  list-style: none;
  border-radius: 23px;
  border:1px rgba(0,0,0,0.20) solid;
  padding: 6px 12px;
  margin-right: 10px;
}

/* article list (section) */
.list * {
  transition-property: all;
  transition-duration: 0.25s;
}

.list__item {
  border-radius: 5px;
  /* border:1px rgba(0,0,0,0.20) solid; */
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.08);
  padding: 25px;
  margin-bottom: 40px;
  word-wrap: break-word;
  word-break: keep-all;
}

.list__item a {
  text-decoration: none;
  color: #000000;
}

.list__item:hover {
  /* border:1px rgba(242, 127, 43, 0.20) solid; */
  box-shadow: 0 5px 15px 0 rgba(242, 127, 43, 0.20);
}

.list__item__title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 15px;
}

.list__item:hover .list__item__title {
  text-decoration: underline;
  color: rgb(242, 127, 43);
}

.list__item__description {
  line-height: 1.5em;
  margin-bottom: 15px;
}

@media only screen and (max-width: 610px) {
  .list__item {
    box-shadow: none;
  }
}