@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');

$font-family: 'Noto Sans KR', "Helvetica Neue", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", "돋움", dotum, sans-serif;
$point-color: rgb(242, 127, 43);
$text-color: rgb(0, 0, 0);
$text-color-alpha05: rgba(0, 0, 0, 0.5);
$text-color-reverse: rgb(255, 255, 255);
$text-color-reverse-alpha05: rgba(255, 255, 255, 0.5);

$min-width: 320px;