.article {
  position: relative;
  margin-bottom: 60px;
}
.article::after {
  content: '';
  display: block;
  clear: both;
}
.left {
  width: 35%;
  float: left;
}
.right {
  width: 60%;
  float: right;
}

.image {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}

.category {
  font-size: 0.75em;
  margin-bottom: 10px;
}

.title {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.description {
  line-height: 1.5em;
  margin-bottom: 15px;
}

.stacks {
  margin-top: 25px;
  margin-bottom: 20px;
}

.stacks li {
  list-style: none;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

@media only screen and (max-width: 874px) {
  .article {
    padding: 0 25px;
  }
}

@media only screen and (max-width: 834px) {
  .image {
    border-radius: 0;
  }
  .left {
    width: 100%;
    float: none;
  }
  .right {
    width: 100%;
    float: none;
  }
}