.info {
  list-style: none;
  color: rgba(0,0,0,0.50);
}
.info li, .info ul {
  display: inline;
}
.info > li {
  margin-right: 15px;
}

.info__item__tags__item::after {
  content: ", ";
}
.info__item__tags__item:last-child::after {
  content: "";
}

