
.div {
  position: relative;
}
.name {
  position: absolute;
  top: 102%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);

  font-size: 0.5em;
  color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.1);
  border-radius: 5px;
  padding: 4px 5px;
  display: none;
}
.div:hover .name{
  display: block;
  
}